<form method="POST">
    <label for="username">Username</label>
    <input type="text" name="q" id="username">
    <br>
    <br>
    <label for="pwd">Password</label>
    <input type="text" name="pwd" id="pwd">
    <button type="submit">Go</button>

</form>
